<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:websocket="http://www.springframework.org/schema/websocket"
	xsi:schemaLocation="http://www.springframework.org/schema/beans    
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/mvc
			http://www.springframework.org/schema/mvc/spring-mvc.xsd  
            http://www.springframework.org/schema/context     
            http://www.springframework.org/schema/context/spring-context.xsd    
            http://www.springframework.org/schema/tx   
            http://www.springframework.org/schema/tx/spring-tx.xsd  
            http://www.springframework.org/schema/aop  
            http://www.springframework.org/schema/aop/spring-aop.xsd
            http://www.springframework.org/schema/websocket 
            http://www.springframework.org/schema/websocket/spring-websocket.xsd">
	<!-- 开启注解处理器 -->
	<context:annotation-config/>
	<!-- 实际开发可以开启组件扫描 -->
	<context:component-scan base-package="zhku.jsj141.ssm"></context:component-scan>
	<!-- 注解扫描 -->
	<mvc:annotation-driven conversion-service="conversionService" validator="validator"></mvc:annotation-driven>
	<!-- 视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 前缀 -->
		<property name="prefix" value="/WEB-INF/html/" />
		<!-- 后缀 -->
		<property name="suffix" value=".html" />
	</bean>
	
	<!-- springMVC文件上传 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 设置上传文件的最大大小 这里是5MB-->
		<property name="maxUploadSize">
			<value>5242880</value>
		</property>
	</bean>
	<!-- <mvc:default-servlet-handler /> 
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<bean class="zhku.jsj141.ssm.intercepter.MyHandshakeInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors> -->
	<!-- <websocket:handlers>  
		<websocket:mapping path="/webSocket.do" handler="webSocket"/>  
		<websocket:handshake-interceptors>  
			<bean class="zhku.jsj141.ssm.intercepter.MyHandshakeInterceptor"/>
		</websocket:handshake-interceptors>  
	</websocket:handlers>   -->



	<!-- 全局异常处理器 -->
	<bean id="testExceptionResolver" class="zhku.jsj141.ssm.Exception.testExceptionResolver"></bean>
	<!-- hibernate validation(校验器) -->
	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
		<property name="providerClass" value="org.hibernate.validator.HibernateValidator"></property>
		<!-- 指定校验使用的资源文件 默认使用classpath下的ValitionMessage.properties -->
		<property name="validationMessageSource" ref="messageSource"></property>
	</bean>
	<!-- 校验  错误信息 配置文件 -->
	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<!-- 资源文件名 -->
		<property name="basenames">
			<list>
				<value>classpath:TestValitionMessage</value>
			</list>
		</property>
		<!-- 资源文件编码 -->
		<property name="fileEncodings" value="utf-8"></property>
		<!-- 资源文件内容缓存的时间（单位 秒） -->
		<property name="cacheSeconds" value="120"></property>
	</bean>
	<!-- 自定义参数绑定 -->
	<bean id="conversionService"
		class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="converters">
			<list>
				<bean class="zhku.jsj141.ssm.converter.testConverter" />
			</list>
		</property>
	</bean>
</beans>