@CHARSET "UTF-8";
:root{
	--num-1:10%;
	--num-2:20%;
	--num-3:30%;
}
body{
	background-color:#f7f7f7;
}
ul,li{
	list-style: none;
}

.myText{
	margin-top:2px;
}
.myDivli{
	height:30x;
	margin-top:10px;
}
.nav{
	width:100%;	
}
.navbar-nav li{
	width:100%;
	float:none;
}
li{
	text-align: center;
	cursor:pointer;
}
li:hover{
	color:#ff8000;
}
#Top{
	position:fixed;z-index:1;top:0;left:0;width:100%;height:50px;border-bottom:2px #c0c0c0 solid;background-color:white;
}
#Top li{
	margin-top:8px;
	float:left;
}
#Top ul+ul{
	margin-top:-8px;
	margin-right:10px;
}
#Right{
	position:fixed;
	z-index:1;
	background-color:white;
	right:0;
	top:50px;
	width:200px;
}
#Right .nav li{
	border:1px #c0c0c0 solid;
	animation:liMove 1s;
	animation-fill-mode: forwards;
}
#Right ul li img+div{
	text-align:center;padding-top:3px;font-weight:550;
}
#Right ul li:first-child:hover{
	color:black;
}
#Right ul li a:hover{
	background-color:#ffc184;
	color:black;
	font-weight:550;
}
.glyphicon-log-out{
	cursor:pointer;
}
.glyphicon-log-out:hover{
	color:#ff8000;
}
@keyframes liMove{
	0%{right:-200px;}
	100%{right:0;}
}
@keyframes liLeave{
	0%{right:0;}
	100%{right:-200px;}
}
#topOn{
	display:none;position:fixed;z-index:1;width:30px;height:30px;top:0;left:700px;font-size: 20px;
}
@keyframes topClose{
	0%{top:0;}
	100%{top:-50px;}
}
@keyframes topOpen{
	0%{top:-50px;}
	100%{top:0;}
}
#Bottom{
	z-index:0;
	position:absolute;
	z-index:0;
	left:0;
	top:0;
	width:100%;
}
#Bottom div ul{
	padding-top:50px;
	border-bottom:2px red solid;
}
#Bottom div ul li{
	border-left:1px #c0c0c0 dotted;
	border-right:1px #c0c0c0 dotted;
	float:left;
	width:90px;
	height:50px;
	padding-top:12px;
}
.indexMenu {
	width: 90%;
	height: 100px;
	margin: 0 auto;
	border: 2px #c0c0c0 solid;
	border-top: 0;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
/**socket窗口**/
#returnMessage {
	text-align:left;
	width: 95%;
	height: 350px;
	box-shadow: -1px -1px 1px;
	border: 1px #c0c0c0 solid;
	overflow-y: auto;
	padding-left: 10px;
	margin: 0 auto;
}
